streamlit==1.52.2

numpy==2.2.6
pandas==2.3.3

opencv-python-headless==4.12.0.88

insightface==0.7.3
onnx==1.20.1
onnxruntime==1.21.1

scikit-learn==1.8.0
scikit-image==0.26.0
scipy==1.17.0

pillow==12.1.0
matplotlib==3.10.8

requests==2.32.5
tqdm==4.67.1
